<div class="jumbotron">
    <h1>Wow, much home.</h1>
    <p><%= link_to 'Login with Asana', 'users/auth/asana/' %></p>
    <p>
    <% if current_user %>
      You are logged in.
      <%= current_user.email %>
      <br>
      <%= current_user.token %>
    <% else %>
      You are not logged in.
    <% end %>
    </p>
</div>

